<!DOCTYPE html>
<html>
<head>
	<title>Sistem Ponpes</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/vendor/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/vendor/progress.css">
</head>
<body>
	<div class="vue">
		<router-view></router-view>
	</div>
	{% include beranda.html %}
	{% include tes.html %}
	<script type="text/javascript" src="{{ site.baseurl }}/vendor/vue.min.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/vendor/vue-router.min.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/vendor/progress.js"></script>
	<script type="text/javascript">
		new Vue({
			el: '.vue',
			router: new VueRouter({
				mode: 'history',
				routes: [
					{
						path: '{{ site.baseurl }}/',
						component: beranda
					},
					{
						path: '{{ site.baseurl }}/tes',
						component: tes
					}
				]
			})
		})
	</script>
</body>
</html>