<template id="pendaftaran">
	<div>
		<div class="container">
			<br>
			<h3>Pendaftaran calon santri</h3>
			<hr>
			<form>
				<h4>Data pribadi</h4>
				<div class="form-group">
					<label>NIK</label>
					<input type="tel" class="form-control" ref='nik' required name="">
				</div>
				<div class="form-group">
					<label>NISN</label>
					<input type="tel" class="form-control" required name="">
				</div>
				<div class="form-group">
					<label>Nama</label>
					<input type="search" class="form-control" required name="">
				</div>
				<div class="form-group">
					<label>Tempat lahir</label>
					<input type="search" class="form-control" required name="">
				</div>
				<div class="form-group">
					<label>Tanggal lahir</label>
					<input type="date" class="form-control" required name="">
				</div>
				<div class="form-group">
					<label>Tinggi badan</label>
					<div class="input-group">
						<input type="tel" class="form-control" required name="">
						<div class="input-group-append">
							<div class="input-group-text">cm</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label>Berat badan</label>
					<div class="input-group">
						<input type="tel" class="form-control" required name="">
						<div class="input-group-append">
							<div class="input-group-text">kg</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label>Hobi</label>
					<textarea class="form-control" required></textarea>
				</div>
				<div class="form-group">
					<label>Riwayat kesehatan</label>
					<textarea class="form-control" required></textarea>
				</div>
				<h4>Data orang tua (ayah)</h4>
				<div class="form-group">
					<label>Nama</label>
					<input type="search" class="form-control" required name="">
				</div>
				<div class="form-group">
					<label>Usia</label>
					<div class="input-group">
						<input type="tel" class="form-control" name="">
						<div class="input-group-append">
							<div class="input-group-text">tahun</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label>Pekerjaan</label>
					<input type="search" class="form-control" name="">
				</div>
				<div class="form-group">
					<label>Penghasilan</label>
					<input type="tel" class="form-control" name="">
				</div>
				<div class="form-group">
					<label>Alamat</label>
					<textarea class="form-control"></textarea>
				</div>
				<div class="form-group">
					<label>Kecamatan</label>
					<input type="search" class="form-control" name="">
				</div>
				<div class="form-group">
					<label>Kabupaten</label>
					<input type="search" class="form-control" name="">
				</div>
				<div class="form-group">
					<label>Provinsi</label>
					<input type="search" class="form-control" name="">
				</div>
				<div class="form-group">
					<label>Kode pos</label>
					<input type="tel" class="form-control" name="">
				</div>
				<div class="form-group">
					<label>Nomor HP</label>
					<input type="tel" class="form-control" name="">
				</div>
				<h4>Data orang tua (ibu)</h4>
				<div class="form-group">
					<label>Nama</label>
					<input type="search" class="form-control" required name="">
				</div>
				<div class="form-group">
					<label>Usia</label>
					<div class="input-group">
						<input type="tel" class="form-control" name="">
						<div class="input-group-append">
							<div class="input-group-text">tahun</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label>Pekerjaan</label>
					<input type="search" class="form-control" name="">
				</div>
				<div class="form-group">
					<label>Penghasilan</label>
					<input type="tel" class="form-control" name="">
				</div>
				<div class="form-group">
					<label>Alamat</label>
					<textarea class="form-control"></textarea>
				</div>
				<div class="form-group">
					<label>Kecamatan</label>
					<input type="search" class="form-control" name="">
				</div>
				<div class="form-group">
					<label>Kabupaten</label>
					<input type="search" class="form-control" name="">
				</div>
				<div class="form-group">
					<label>Provinsi</label>
					<input type="search" class="form-control" name="">
				</div>
				<div class="form-group">
					<label>Kode pos</label>
					<input type="tel" class="form-control" name="">
				</div>
				<div class="form-group">
					<label>Nomor HP</label>
					<input type="tel" class="form-control" name="">
				</div>
				<h4>Data orang tua (wali)</h4>
				<div class="form-group">
					<label>Nama</label>
					<input type="search" class="form-control" name="">
				</div>
				<div class="form-group">
					<label>Usia</label>
					<div class="input-group">
						<input type="tel" class="form-control" name="">
						<div class="input-group-append">
							<div class="input-group-text">tahun</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label>Pekerjaan</label>
					<input type="search" class="form-control" name="">
				</div>
				<div class="form-group">
					<label>Penghasilan</label>
					<input type="tel" class="form-control" name="">
				</div>
				<div class="form-group">
					<label>Alamat</label>
					<textarea class="form-control"></textarea>
				</div>
				<div class="form-group">
					<label>Kecamatan</label>
					<input type="search" class="form-control" name="">
				</div>
				<div class="form-group">
					<label>Kabupaten</label>
					<input type="search" class="form-control" name="">
				</div>
				<div class="form-group">
					<label>Provinsi</label>
					<input type="search" class="form-control" name="">
				</div>
				<div class="form-group">
					<label>Kode pos</label>
					<input type="tel" class="form-control" name="">
				</div>
				<div class="form-group">
					<label>Nomor HP</label>
					<input type="tel" class="form-control" name="">
				</div>
				<h4>Data sekolah asal</h4>
				<div class="form-group">
					<label>Nomor ijazah</label>
					<input type="tel" class="form-control" name="" required="">
				</div>
				<div class="form-group">
					<label>Nomor SKHUN</label>
					<input type="tel" class="form-control" name="" required="">
				</div>
				<div class="form-group">
					<label>Nomor ujian nasional</label>
					<input type="tel" class="form-control" name="" required="">
				</div>
				<div class="form-group">
					<label>Nama sekolah</label>
					<input type="search" class="form-control" name="" required="">
				</div>
				<div class="form-group">
					<label>Alamat</label>
					<textarea class="form-control" required=""></textarea>
				</div>
				<div class="form-group">
					<label>Kabupaten</label>
					<input type="search" class="form-control" name="" required="">
				</div>
				<div class="form-group">
					<label>Provinsi</label>
					<input type="search" class="form-control" name="" required="">
				</div>
				<div class="form-group">
					<label>Jenis sekolah</label>
					<select class="form-control" required="">
						<option value="smpn">SMPN</option>
						<option value="mtsn">MTSN</option>
						<option value="smp it">SMP IT</option>
						<option value="pesantren">Pesantren</option>
					</select>
				</div>
				<div class="form-group">
					<label>Catatan</label>
					<textarea class="form-control" required=""></textarea>
				</div>
			</form>
		</div>
	</div>
</template>
<script type="text/javascript">
	pendaftaran = {
		template: '#pendaftaran',
		mounted(){
			this.$refs.nik.focus()
		}
	}
</script>